{% extends 'base.html' %}
{% block content %}

<section class='w-full px-20 text-black'>
	<div class='grid grid-cols-2 sm:grid-rows-2 sm:grid-cols-1'>
		<div class='w-full justify-self-start flex justify-center gap-x-8'>
			<img class='w-32 object-contain' src="/static/img/bg-img/psitslogo.png" alt="psitslogo">
			<div class='flex justify-center flex-col'>
				<h1 class='mb-6 text-5xl sm:text-3xl sm:text-3xl flex flex-col sm:items-center leading-[3rem] font-alte-bold tracking-wide uppercase'>
						Attendance Checker
				</h1>
			</div>
		</div>
		<div class='w-[60%] sm:w-[90%] justify-self-end sm:justify-self-center px-4 py-6 flex flex-col bg-white border-gray-600 border bg-opacity-10 rounded-lg shadow-lg'>
			<h2 class='self-center'>Login</h2>
			<form class='flex flex-col w-full gap-5 text-sm' 
			action="{{ url_for('login') }}" 
			enctype='multipart/form-data' 
			id='login-form' 
			method='post'
			onsubmit='return handleLoginSubmit();'>
				<div>
					<label for='username'>Username</label>
					<input class='text-black mt-1 px-2 py-1 w-full focus-visible:outline-none focus:ring-blue-500 rounded focus:ring-2 placeholder:text-sm' type="text" id='username' name='username' required>
				</div>
				<div>
					<label for='password'>Password</label>
					<input class='text-black mt-1 px-2 py-1 w-full focus-visible:outline-none focus:ring-blue-500 rounded focus:ring-2 placeholder:text-sm' type="password" id='password' name='password' placeholder='•••••••••' required>
				</div>
				<button class='text-black self-center py-2 text-sm rounded-2xl w-full shadow-lg bg-blue-300 hover:scale-105 hover:transition-scale active:scale-100' 
				type='submit' 
				form='login-form'
				>Login</button>
			</form>
		</div>
	</div>
</section>

{% endblock %}