{% extends 'base.html' %}
{% block content %}
<section class='text-sm text-black min-h-[100vh]'>
	<div class='min-h-64 px-16 overflow-x-auto flex flex-col gap-8'>
		<table class='table-auto w-full text-left shadow-md' id='attendance-log-table'>
			<thead class='text-xs uppercase bg-gray-200'>
				<tr>
					<th class='px-6 py-3'>ATTENDANCE ID</th>
					<th class='px-6 py-3'>DATE LOGGED</th>
					<th class='px-6 py-3'>TIME LOGGED</th>
					<th class='px-6 py-3'>IDNO</th>
				</tr>
			</thead>
			<tbody id='attendance-log-tbody'>
				{% for attendance in attendances %}
				<tr class='hover:bg-gray-100'>
					<td class='px-6 py-4 border-b'>{{ attendance['attendance_id'] }}</td>
					<td class='px-6 py-4 border-b'>{{ attendance['date_logged'] }}</td>
					<td class='px-6 py-4 border-b'>{{ attendance['time_logged'] }}</td>
					<td class='px-6 py-4 border-b'>{{ attendance['idno'] }}</td>
				</tr>
				{%endfor %}
			</tbody>
		</table>
		<span id='empty-attendance-log-table-span' class='empty-table-spans hidden text-lg self-center'>
			No attendance recorded.
		</span>
	</div>
</section>
{% endblock %}