<header class='text-black top-0 z-10 fixed w-full h-[10%]'>
    <div class='w-full z-20 relative'>
        <div class='bg-white py-6 px-6 border-b-2 rounded-b-md shadow-md'>
            <div class='grid grid-cols-2 gap-4'>
                <div class='justify-self-start'>
                    <a href="{{ url_for('studentlist') }}" class='flex gap-4'>
                        <img class='w-10 object-contain flex self-start hover:cursor-pointer' 
                    src="/static/img/bg-img/psitslogo.png" 
                    alt="psitslogo">
                        <h1 class='self-center w-full uppercase text-xl'>
                            <b class="text-black">
                                {{ headerTitle }}
                            </b>
                        </h1>
                    </a>
                </div>
                <div class='flex gap-4 justify-self-end'>
                    <div class='relative max-sm:hidden'>
                    </div>
                    <button 
                    type='button' 
                    onclick='addStudent()' 
                    class='px-2 text-white active:scale-95 bg-green-500 rounded text-xs'>
                        ADD STUDENT
                    </button>
                    <button type='button' 
                    onclick="window.location.href='{{ url_for('studentlist') }}'" 
                    class='px-2 text-white active:scale-95 bg-gray-500 rounded text-xs'>
                        STUDENT LIST
                    </button>
                    <button type='button' 
                    onclick="window.location.href='{{ url_for('attendanceviewer') }}'" 
                    class='px-2 text-white active:scale-95 bg-gray-500 rounded text-xs'>
                    View Attendance
                    </button>
                    <button type='button' onclick="window.location.href='{{ url_for('logout') }}'" class='static text-black text-sm py-2 rounded-2xl bg-gray-300 shadow-md w-20 h-10 hover:scale-105 active:scale-100'>
                        LOGOUT
                    </button>
                </div>
                <div class='col-span-2 justify-self-end'>
                    <span id='timestamp'>...</span>
                </div>
            </div>
        </div>
    </div>
</header>
