{% extends 'base.html' %}
{% block content %}

<section class='w-full px-2 min-h-[70vh]'>
	<section id='attendance-modal' class='py-8 w-full'>
		<div class='text-sm flex relative justify-center items-center'>
			<div id='attendance-modal-card' class='w-1/2 max-md:w-[80%] p-8 bg-white rounded-xl shadow-xl relative'>
				<form id="get-student-form" class="hidden">
					<input type="hidden" id="get-student-form-idno" name="idno">
				</form>
				<div>
					<h1 class="uppercase text-xl text-center font-alte-bold">
						<span class="text-blue-700">Mark</span>
						<span class="text-blue-400">Attendance</span>
					</h1>
				</div>
				<div 
				id="attendance-info-section"
				class='hidden flex gap-4 flex-col h-full'
				>
					<div class="relative flex gap-4">
						<div class="flex justify-around w-full">
							<img 
							id="attendance-info-image"
							src=""
							class="h-32 rounded-md hover:ring-1 hover:ring-blue-300"
							>
							<img 
							id="attendance-info-qrcode"
							src=""
							class="h-32 rounded-md hover:ring-1 hover:ring-blue-300"
							>
						</div>
						<button 
						type='button' 
						onclick='gotoAttendanceQRCodeSection()'
						onmouseover="showTooltip('info-section-tooltip')" 
						onmouseout="hideTooltip('info-section-tooltip')"
						class='absolute left-2 shadow-lg z-20 min-h-8 min-w-8 rounded-[50%] bg-yellow-600 hover:bg-yellow-500 active:bg-yellow-700'>
							<i class="fa-solid fa-pen-to-square text-md text-white pointer-events-none"></i>
							<div id='info-section-tooltip' class='hidden tooltip w-[7rem] top-0 left-0 opacity-0 transition-opacity duration-300'>
								<i class="fa-solid fa-circle-info"></i>
								<span>Scan another QRCode</span>
							</div>
						</button>
					</div>
					<div class='flex flex-col flex-grow'>
						<label>IDNO</label>
						<input 
						type='number' 
						id='attendance-idno' 
						class='mt-2 px-2 py-1 ring-1 ring-gray-300 rounded bg-gray-100 focus-visible:outline-none focus:ring-2 focus:ring-blue-500' 
						readonly
						>
					</div>
					<div class='flex flex-col flex-grow'>
						<label>LASTNAME</label>
						<input 
						type='text' 
						id='attendance-lastname' 
						class='mt-2 px-2 py-1 ring-1 ring-gray-300 rounded bg-gray-100 focus-visible:outline-none focus:ring-2 focus:ring-blue-500' 
						readonly
						>
					</div>
					<div class='flex flex-col flex-grow'>
						<label>FIRSTNAME</label>
						<input 
						type='text' 
						id='attendance-firstname' 
						class='mt-2 px-2 py-1 ring-1 ring-gray-300 rounded bg-gray-100 focus-visible:outline-none focus:ring-2 focus:ring-blue-500' 
						readonly
						>
					</div>
					<div class='flex flex-col flex-grow'>
						<label>COURSE</label>
						<input 
						type='text' 
						id='attendance-course' 
						class='mt-2 px-2 py-1 ring-1 ring-gray-300 rounded bg-gray-100 focus-visible:outline-none focus:ring-2 focus:ring-blue-500' 
						readonly
						>
					</div>
					<div class='flex flex-col flex-grow'>
						<label>LEVEL</label>
						<input 
						type='number' 
						id='attendance-level' 
						class='mt-2 px-2 py-1 ring-1 ring-gray-300 rounded bg-gray-100 focus-visible:outline-none focus:ring-2 focus:ring-blue-500' 
						readonly
						>
					</div>	
					<button 
					onclick="submitAttendance()"
					class='w-40 py-2 px-2 self-end bg-green-500 rounded-md shadow-md text-white'>
						<i class="fa-solid fa-check text-md text-white pointer-events-none"></i>
						<span>Mark Attendance</span>
					</button>
				</div>
				<div 
				id="attendance-qrcode-section" 
				class="flex justify-center h-[75%] relative">
					<div id='qrcode-reader' class='bg-gray-300 w-full h-full mt-2 self-center'>
					</div>
					<button 
					type='button' 
					onclick='gotoAttendanceInfoSection()'
					onmouseover="showTooltip('qr-section-tooltip')" 
					onmouseout="hideTooltip('qr-section-tooltip')"
					class='absolute left-2 top-5 shadow-lg z-20 min-h-8 min-w-8 rounded-[50%] bg-blue-500 hover:bg-blue-400 active:bg-blue-600'
					>
						<i class="fa-solid fa-arrow-left text-md text-white pointer-events-none"></i>
						<div id='qr-section-tooltip' class='hidden tooltip w-[5rem] top-0 left-0 opacity-0 transition-opacity duration-300'>
							<i class="fa-solid fa-circle-info"></i>
							<span>Go back</span>
						</div>
					</button>
				</div>
			</div>
		</div>
	</section>
</section>

<script>

	let img = document.getElementById('attendance-info-image');
	let qrimg = document.getElementById('attendance-info-qrcode');
	if (img) {
		img.src = defaultImg;
	} else {
		console.log('attendance info section: img element is null');
	}

	if (qrimg) {
		qrimg.src = defaultImg;
	} else {
		console.log('attendance info section: qrimg element is null');
	}

	document.addEventListener('DOMContentLoaded', function() {
		gotoAttendanceQRCodeSection();
	})

</script>

{% endblock %}