<section id='student-modal' class='hidden py-8 overflow-hidden z-20 w-full h-screen bg-black/40 top-0 fixed transition-colors duration-500'>
    <div class='text-sm flex h-full relative justify-center items-center'>
        <div 
        id='student-modal-card' 
        class='w-1/2 max-md:w-[80%] flex flex-col h-full p-8 bg-white rounded-xl shadow-xl opacity-0 relative z-[21] translate-y-3/4 transition-all duration-500 ease-in-out'>
            <button class='absolute top-5 right-5 active:scale-90' onclick='closeStudentModal()'>
                <i class="fa-solid fa-square-xmark text-red-500 text-lg hover:scale-110"></i>
            </button>
            <div id="add-student-title">
                <h1 class="uppercase text-xl text-center">
                    ADD STUDENT
                </h1>
            </div>
            <div id="edit-student-title">
                <h1 class="uppercase text-xl text-center">
                    EDIT STUDENT
                </h1>
            </div>
            <form 
            id='student-modal-form' 
            method='post'
            action="{{ url_for('update_student') }}"
            enctype='multipart/form-data'
            onsubmit='return isFields();' 
            class='h-full overflow-y-scroll overflow-x-hidden'>
                <div class='flex flex-col items-stretch h-full pt-2 gap-3'>
                    <div class='w-full relative mb-2 flex flex-col'>
                        <input id='edit-add-flag' name='edit-add-flag' type='hidden' value='add'>
                        <input id='switch-to-cam-flag' type='checkbox' class='hidden' checked=false>
                        <button 
                        type='button' 
                        onclick='toggleSwitchToCam()'
                        class='absolute px-2 w-32 text-white active:scale-95 bg-blue-500 rounded text-xs left-2 top-0 shadow-lg z-20 min-h-8 min-w-8 rounded bg-gray-500 hover:bg-gray-400 active:bg-gray-600'>
                            SNAP A PORTRAIT
                        </button>
                        <button type='button' 
                        id='camera-button'
                        onmouseover="showTooltip('camera-tooltip')"
                        onmouseout="hideTooltip('camera-tooltip')"
                        onclick="takeSnapshot()"
                        class='hidden absolute shadow-md left-2 top-14 z-10 min-h-8 min-w-8 rounded-[50%] bg-red-600 hover:bg-red-500 active:bg-red-700'>
                            <i class="fa-solid fa-camera text-md text-white pointer-events-none"></i>
                            <div id='camera-tooltip' class='hidden tooltip !bg-gray-500 w-[6rem] top-0 left-0 opacity-0 transition-opacity duration-300'>
                                <i class="fa-solid fa-circle-info"></i>
                                <span>TAKE A SNAP</span>
                            </div>
                        </button>
                        <div id='modal-hide-when-edit' class='flex gap-4 justify-around'>
                            <label for='image-upload' class='relative'>
                                <img id='image' 
                                onmouseover="showTooltip('image-tooltip')"
                                onmouseout="hideTooltip('image-tooltip')"
                                class='h-32 rounded-md hover:ring-1 hover:ring-blue-300'>
                                <input id='image-upload' name='image-upload' type='file'onclick='promptIfIdnoEmpty(event)' onchange="displayImgUpload(this)" class='hidden'>
                                <div id='image-tooltip' class='hidden tooltip absolute w-[12rem] top-0 left-0 opacity-0 transition-opacity duration-300'>
                                    <i class="fa-solid fa-circle-info"></i>
                                    <span>PICK A FILE</span>
                                </div>
                            </label>
                            <div class="relative">
                                <img id='qrcode' 
                                name='qrcode' 
                                onmouseover="showTooltip('qrcode-tooltip')"
                                onmouseout="hideTooltip('qrcode-tooltip')"
                                class='h-32 rounded-md hover:ring-1 hover:ring-blue-300'
                                >
                                <input id='qrcode-upload' name='qrcode-upload' type='file' class='hidden'>
                                <div id='qrcode-tooltip' class='hidden tooltip absolute w-[12rem] top-0 left-0 opacity-0 transition-opacity duration-300'>
                                    <i class="fa-solid fa-circle-info"></i>
                                    <span>QRCODE IMAGE</span>
                                </div>
                            </div>
                        </div>
                        <div id='modal-show-when-edit' class='hidden flex gap-4'>
                            <div id='webcam' class='w-[50%] h-32 bg-black'></div>
                            <div id='webcam-result' class='w-[50%] h-32 bg-black'></div>
                        </div>
                    </div>
                    <div class='flex flex-col flex-grow'>
                        <label>IDNO</label>
                        <input 
                        type='number' 
                        name='idno' 
                        id='idno' 
                        class='mt-2 px-2 py-1 ring-1 ring-gray-300 rounded bg-gray-100 focus-visible:outline-none focus:ring-2 focus:ring-blue-500' 
                        maxlength="10"
                        readonly 
                        required
                        >
                    </div>
                    <div class='flex flex-col flex-grow'>
                        <label>LASTNAME</label>
                        <input 
                        type='text' 
                        name='lastname' 
                        id='lastname' 
                        class='mt-2 px-2 py-1 ring-1 ring-gray-300 rounded bg-gray-100 focus-visible:outline-none focus:ring-2 focus:ring-blue-500' 
                        maxlength="20"
                        required
                        >
                    </div>
                    <div class='flex flex-col flex-grow'>
                        <label>FIRSTNAME</label>
                        <input 
                        type='text' 
                        name='firstname' 
                        id='firstname' 
                        class='mt-2 px-2 py-1 ring-1 ring-gray-300 rounded bg-gray-100 focus-visible:outline-none focus:ring-2 focus:ring-blue-500' 
                        maxlength="20"
                        required
                        >
                    </div>
                    <div class='flex flex-col flex-grow'>
                        <label>COURSE</label>
                        <input 
                        type='text' 
                        name='course' 
                        id='course' 
                        class='mt-2 px-2 py-1 ring-1 ring-gray-300 rounded bg-gray-100 focus-visible:outline-none focus:ring-2 focus:ring-blue-500' 
                        maxlength="20"
                        required
                        >
                    </div>
                    <div class='flex flex-col flex-grow'>
                        <label>LEVEL</label>
                        <input 
                        type='number' 
                        name='level' 
                        id='level' 
                        class='mt-2 px-2 py-1 ring-1 ring-gray-300 rounded bg-gray-100 focus-visible:outline-none focus:ring-2 focus:ring-blue-500' 
                        maxlength="10"
                        required>
                    </div>
                    <div class='flex gap-4'>
                        <button 
                        type="button" 
                        onclick="cancelData(modalIdNo)"
                        class='text-white text-sm py-2 rounded-xl bg-red-500 shadow-md w-1/2 hover:scale-105 active:scale-100'
                        >
                            Cancel
                        </button>
                        <button 
                        type="submit" 
                        id='student-modal-submit-btn' 
                        form='student-modal-form' 
                        class='text-white text-sm py-2 rounded-xl bg-blue-400 shadow-md w-1/2 hover:scale-105 active:scale-100'
                        >
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<section id='attendance-modal' class='hidden py-8 overflow-hidden z-20 w-full h-screen bg-black/40 top-0 fixed transition-colors duration-500'>
    <div class='text-sm flex relative justify-center items-center h-full'>
        <div id='attendance-modal-card' class='w-1/2 max-md:w-[80%] h-full flex flex-col p-8 bg-white rounded-xl shadow-xl opacity-0 relative z-[21] translate-y-3/4 transition-all duration-500 ease-in-out'>
            <button class='absolute top-5 right-5 active:scale-90' onclick='closeAttendanceModal()'>
                <i class="fa-solid fa-square-xmark text-red-500 text-lg hover:scale-110"></i>
            </button>
            <form id="get-student-form" class="hidden">
                <input type="hidden" id="get-student-form-idno" name="idno">
            </form>
            <div>
                <h1 class="uppercase text-xl text-center">
                    MARK ATTENDANCE
                </h1>
            </div>
            <div 
            id="attendance-info-section"
            class='hidden flex gap-4 flex-col h-full overflow-y-scroll overflow-x-hidden'
            >
                <div class="relative flex gap-4">
                    <div class="flex justify-around w-full">
                        <img 
                        id="attendance-info-image"
                        src=""
                        class="h-32 rounded-md hover:ring-1 hover:ring-blue-300"
                        >
                        <img 
                        id="attendance-info-qrcode"
                        src=""
                        class="h-32 rounded-md hover:ring-1 hover:ring-blue-300"
                        >
                    </div>
                    <button 
                    type='button' 
                    onclick='gotoAttendanceQRCodeSection()'
                    class='absolute px-2 w-32 text-white active:scale-95 bg-blue-500 rounded text-xs left-2 top-5 shadow-lg z-20 min-h-8 min-w-8 rounded bg-gray-500 hover:bg-gray-400 active:bg-gray-600'>
                        SCAN A QRCODE
                    </button>
                </div>
                <div class='flex flex-col flex-grow'>
                    <label>IDNO</label>
                    <input 
                    type='number' 
                    id='attendance-idno' 
                    class='mt-2 px-2 py-1 ring-1 ring-gray-300 rounded bg-gray-100 focus-visible:outline-none focus:ring-2 focus:ring-blue-500' 
                    readonly
                    >
                </div>
                <div class='flex flex-col flex-grow'>
                    <label>LASTNAME</label>
                    <input 
                    type='text' 
                    id='attendance-lastname' 
                    class='mt-2 px-2 py-1 ring-1 ring-gray-300 rounded bg-gray-100 focus-visible:outline-none focus:ring-2 focus:ring-blue-500' 
                    readonly
                    >
                </div>
                <div class='flex flex-col flex-grow'>
                    <label>FIRSTNAME</label>
                    <input 
                    type='text' 
                    id='attendance-firstname' 
                    class='mt-2 px-2 py-1 ring-1 ring-gray-300 rounded bg-gray-100 focus-visible:outline-none focus:ring-2 focus:ring-blue-500' 
                    readonly
                    >
                </div>
                <div class='flex flex-col flex-grow'>
                    <label>COURSE</label>
                    <input 
                    type='text' 
                    id='attendance-course' 
                    class='mt-2 px-2 py-1 ring-1 ring-gray-300 rounded bg-gray-100 focus-visible:outline-none focus:ring-2 focus:ring-blue-500' 
                    readonly
                    >
                </div>
                <div class='flex flex-col flex-grow'>
                    <label>LEVEL</label>
                    <input 
                    type='number' 
                    id='attendance-level' 
                    class='mt-2 px-2 py-1 ring-1 ring-gray-300 rounded bg-gray-100 focus-visible:outline-none focus:ring-2 focus:ring-blue-500' 
                    readonly
                    >
                </div>	
                <button 
                onclick="submitAttendance()"
                class='w-40 py-2 px-2 self-end bg-green-400 rounded-md shadow-md text-white'>
                    <i class="fa-solid fa-check text-md text-white pointer-events-none"></i>
                    <span>Mark Attendance</span>
                </button>
            </div>
            <div 
            id="attendance-qrcode-section" 
            class="flex justify-center relative h-full overflow-y-scroll overflow-x-hidden">
                <div id='qrcode-reader' class='bg-gray-300 w-full h-full mt-2 self-center'>
                </div>
                <button 
                type='button' 
                onclick='gotoAttendanceInfoSection()'
                class='absolute px-2 w-32 text-white active:scale-95 bg-blue-500 rounded text-xs left-2 top-5 shadow-lg z-20 min-h-8 min-w-8 rounded bg-gray-500 hover:bg-gray-400 active:bg-gray-600'
                >
                    Go back
                </button>
            </div>
        </div>
    </div>
</section>