{% extends 'base.html' %}
{% block content %}
<section class='text-sm text-black min-h-[100vh]'>
	<div class='min-h-64 px-16 overflow-x-auto relative flex flex-col gap-8'>
		<table class='w-full table-auto text-left shadow-md' id='student-info-table'>
			<thead class='text-xs uppercase bg-gray-200'>
				<tr>
					<th class='px-6 py-3'>IDNO</th>
					<th class='px-6 py-3'>Lastname</th>
					<th class='px-6 py-3'>Firstname</th>
					<th class='px-6 py-3'>Course</th>
					<th class='px-6 py-3'>Level</th>
					<th class='px-6 py-3'>Action</th>
				</tr>
			</thead>
			<tbody id='student-info-tbody'>
				{% for student in students %}
				<tr class='hover:bg-gray-100'>
					<td class='px-6 py-4 border-b'>{{ student['idno'] }}</td>
					<td class='px-6 py-4 border-b'>{{ student['lastname'].title() }}</td>
					<td class='px-6 py-4 border-b'>{{ student['firstname'].title() }}</td>
					<td class='px-6 py-4 border-b'>{{ student['course'].upper() }}</td>
					<td class='px-6 py-4 border-b'>{{ student['level'] }}</td>
					<td class='px-6 py-4 border-b flex gap-2'>
						<div class='relative'>
							<button 
							type='button'
							data-idno="{{ student['idno'] }}"
							data-qrcode="{{ student['qrcode'] }}"
							onclick='downloadQR(this)'
							class='px-2 w-32 text-white active:scale-95 bg-blue-500 rounded text-xs'
							onmouseover="showTooltip('download-qr-button-tooltip-{{ student['idno'] }}')"
							onmouseout="hideTooltip('download-qr-button-tooltip-{{ student['idno'] }}')"
							>
								DOWNLOAD QR
							</button>
						</div>
						<div class='relative'>
							<button
							id="edit-button-{{ student['idno'] }}"
							data-idno="{{ student['idno'] }}"
							data-lastname="{{ student['lastname'] }}"
							data-firstname="{{ student['firstname'] }}"
							data-course="{{ student['course'] }}"
							data-level="{{ student['level'] }}"
							data-qrcode="{{ student['qrcode'] }}"
							data-image="{{ student['image'] }}"
							onclick='editStudent(this)'
							class="px-2 text-white bg-yellow-500 rounded active:scale-95 text-xs">
								EDIT
							</button>
						</div>
						<div class='relative'>
							<button 
							type='button'
							data-idno="{{ student['idno'] }}"
							onclick='deleteStudent(this)'
							class='px-2 text-white active:scale-95 bg-red-500 rounded text-xs'
							>
								DELETE
							</button>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<span id='empty-student-table-span' class='empty-table-span hidden text-lg self-center'>
			Student Table is empty.
		</span>
	</div>
</section>
{% endblock %}