{% extends 'base.html' %}
{% block content %}
<section class='text-sm text-black'>
	<div class='min-h-[20rem] px-16 py-40 overflow-x-auto relative'>
		<table class='w-full table-auto text-left shadow-md'>
			<thead class='text-xs uppercase bg-blue-200'>
				<tr>
					<th class='px-6 py-3'>IDNO</th>
					<th class='px-6 py-3'>Lastname</th>
					<th class='px-6 py-3'>Firstname</th>
					<th class='px-6 py-3'>Course</th>
					<th class='px-6 py-3'>Level</th>
					<th class='px-6 py-3'>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for student in students %}
				<tr class='hover:bg-gray-100'>
					<td class='px-6 py-4 border-b'>{{ student['idno'] }}</td>
					<td class='px-6 py-4 border-b'>{{ student['lastname'].title() }}</td>
					<td class='px-6 py-4 border-b'>{{ student['firstname'].title() }}</td>
					<td class='px-6 py-4 border-b'>{{ student['course'].upper() }}</td>
					<td class='px-6 py-4 border-b'>{{ student['level'] }}</td>
					<td class='px-6 py-4 border-b flex gap-2'>
						<button
						id='edit-button'
						data-idno="{{ student['idno'] }}"
						data-lastname="{{ student['lastname'] }}"
						data-firstname="{{ student['firstname'] }}"
						data-course="{{ student['course'] }}"
						data-level="{{ student['level'] }}"
						data-qrcode="{{ student['qrcode'] }}"
						data-image="{{ student['image'] }}"
						onclick='editStudent(this)'
						class='active:scale-95'><i class="fas fa-cog text-lg text-yellow-600 hover:rotate-45 transition-transform ease-in-out duration-300"></i></button>
						<form id='delete-student-form' 
						action="{{ url_for('delete_student') }}"
						enctype='multipart/form-data'
						onsubmit='return promptDelete();'
						method='post'>
							<input id='delete-student-input' name='delete-student-input' type='hidden'>
							<button 
							form='delete-student-form'
							type='submit'
							data-idno="{{ student['idno'] }}"
							onclick='deleteStudent(this)'
							class='active:scale-95'><i class="fas fa-trash-alt text-lg text-red-600 hover:scale-110 transition-transform ease-in-out duration-300"></i></button>
						</form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock %}