{% extends 'base.html' %}
{% block content %}
<section class='text-sm text-black min-h-[100vh]'>
	<div class='min-h-64 px-16 overflow-x-auto relative flex flex-col gap-8'>
		<table class='w-full table-auto text-left shadow-md' id='student-info-table'>
			<thead class='text-xs uppercase bg-blue-200'>
				<tr>
					<th class='px-6 py-3'>IDNO</th>
					<th class='px-6 py-3'>Lastname</th>
					<th class='px-6 py-3'>Firstname</th>
					<th class='px-6 py-3'>Course</th>
					<th class='px-6 py-3'>Level</th>
					<th class='px-6 py-3'>Action</th>
				</tr>
			</thead>
			<tbody id='student-info-tbody'>
				{% for student in students %}
				<tr class='hover:bg-gray-100'>
					<td class='px-6 py-4 border-b'>{{ student['idno'] }}</td>
					<td class='px-6 py-4 border-b'>{{ student['lastname'].title() }}</td>
					<td class='px-6 py-4 border-b'>{{ student['firstname'].title() }}</td>
					<td class='px-6 py-4 border-b'>{{ student['course'].upper() }}</td>
					<td class='px-6 py-4 border-b'>{{ student['level'] }}</td>
					<td class='px-6 py-4 border-b flex gap-2'>
						<div class='relative'>
							<button 
							type='button'
							data-idno="{{ student['idno'] }}"
							data-qrcode="{{ student['qrcode'] }}"
							onclick='downloadQR(this)'
							class='active:scale-95'
							onmouseover="showTooltip('download-qr-button-tooltip-{{ student['idno'] }}')"
							onmouseout="hideTooltip('download-qr-button-tooltip-{{ student['idno'] }}')"
							>
								<i class="fa-solid fa-download text-lg text-blue-600 hover:scale-110 transition-transform ease-in-out duration-300"></i>
							</button>
							<div id="download-qr-button-tooltip-{{ student['idno'] }}" class='hidden tooltip w-[5rem] flex justify-center top-0 left-2 opacity-0 transition-opacity duration-300'>
								<span class='text-center'>Download Student QR</span>
							</div>
						</div>
						<div class='relative'>
							<button
							id="edit-button-{{ student['idno'] }}"
							data-idno="{{ student['idno'] }}"
							data-lastname="{{ student['lastname'] }}"
							data-firstname="{{ student['firstname'] }}"
							data-course="{{ student['course'] }}"
							data-level="{{ student['level'] }}"
							data-qrcode="{{ student['qrcode'] }}"
							data-image="{{ student['image'] }}"
							onclick='editStudent(this)'
							onmouseover="showTooltip('edit-button-tooltip-{{ student['idno'] }}')"
							onmouseout="hideTooltip('edit-button-tooltip-{{ student['idno'] }}')"
							class="active:scale-95 hover:rotate-45 transition-transform ease-in-out duration-300">
								<i class="fas fa-cog text-lg text-yellow-600 pointer-events-none"></i>
							</button>
							<div id="edit-button-tooltip-{{ student['idno'] }}" class='hidden tooltip w-[5rem] flex justify-center top-0 left-2 opacity-0 transition-opacity duration-300'>
								<span>Edit Student</span>
							</div>
						</div>
						<div class='relative'>
							<button 
							type='button'
							data-idno="{{ student['idno'] }}"
							onclick='deleteStudent(this)'
							class='active:scale-95'
							onmouseover="showTooltip('delete-button-tooltip-{{ student['idno'] }}')"
							onmouseout="hideTooltip('delete-button-tooltip-{{ student['idno'] }}')"
							>
								<i class="fas fa-trash-alt text-lg text-red-600 hover:scale-110 transition-transform ease-in-out duration-300"></i>
							</button>
							<div id="delete-button-tooltip-{{ student['idno'] }}" class='hidden !bg-red-500 tooltip w-[6rem] flex justify-center top-0 left-2 opacity-0 transition-opacity duration-300'>
								<span>Delete Student</span>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<span id='empty-student-table-span' class='empty-table-span hidden text-lg self-center'>
			There are no students ಠ╭╮ಠ...
		</span>
	</div>
</section>
{% endblock %}